<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianfeng.dao.TypesMapper" >
  <resultMap id="BaseResultMap" type="com.qianfeng.pojo.Types" >
    <id column="tid" property="tid" jdbcType="INTEGER" />
    <result column="tname" property="tname" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from types
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.pojo.Types" >
    insert into types (tid, tname, level, 
      pid)
    values (#{tid,jdbcType=INTEGER}, #{tname,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, 
      #{pid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.pojo.Types" >
    update types
    set tname = #{tname,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select tid, tname, level, pid
    from typesmybatis-generator:generate
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select tid, tname, level, pid
    from types
  </select>
</mapper>